@mixin linkList($color) {
  .el-card__header {
    padding-left: 14px;
    border-bottom: 1px solid #f2f2f2;
  }
  .el-card__body {
    padding: 0;
  }
  .el-menu-item {
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    i:first-child {
      font-size: 23px;
      margin-right: 15px;
      color: $color;
      vertical-align: middle;
      &.icon-youhui {
        font-size: 18px;
      }
      &.icon-mail {
        vertical-align: top;
      }
    }
    .el-icon-arrow-right {
      line-height: 56px;
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
  .el-menu-item:hover {
    i {
      color: $color;
    }
    color:$color;
  }
  .el-menu-item.is-active {
    i:last-child {
      color: #676767;
    }
    color:#676767;
  }
}