html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #EEEEEE;
  color: #393939;
  padding-right: 0!important;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    background-color: transparent;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D8D8D8;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.mobieMenu {
  display: none;
}



$main: #0460AE;
$brown: #985D55;
$sub:#1465C0;
a {
  text-decoration: none
}

//reset
h1,
h2,
h3,
h4,
th {
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flRight {
  float: right;
}

.flLeft {
  float: left;
}

.search.el-input {
  input {
    height: 46px;
    border-right: none;
    &:hover,
    &:focus {
      border-color: $main;
    }
  }
  .el-input-group__append {
    border: none;
    .el-button {
      font-size: 18px;
      width: 101px;
      height: 47px;
      color: #fff;
      background: $main;
      border-color: $main;
    }
  }
}

.myUpload {
  width: 100% !important;
  display: flex;
  flex-direction: row-reverse;
  .el-upload {
    button {
      height: 45px;
      font-size: 16px;
      background: #fff;
      color: $main;
      border-color: $main;
    }
  }
  .el-upload-list {
    margin: 0 10px 0 0;
    flex: 1;
    border-bottom: 1px solid #D5DADF;
    float: left;
    .el-upload__file:last-child {
      border-bottom: none;
    }
    .el-upload__file {
      border-bottom: 1px solid #D5DADF;
      .el-upload__file__name {
        line-height: 44px;
        font-size: 16px;
        .el-icon-document {
          display: none;
        }
      }
      .el-upload__btn-delete {
        font-size: 16px;
        line-height: 45px;
      }
    }
  }
}

.myRadio {
  .el-radio-button {
    margin-right: 15px;

    .el-radio-button__inner {
      border-radius: 4px;
      border-left: 1px solid rgb(191, 202, 217);
    }
  }
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #fff!important;
    box-shadow: none;
  }
  .is-active {
    i {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 30px solid $main;
      border-left: 32px solid transparent;
      color: #fff;
      font-size: 12px;
      font-family: 'element-icons' !important;
      line-height: initial;
      &:before {
        content: "\E608";
        position: absolute;
        right: 4px;
        bottom: -30px;
      }
    }
  }
}

.myTab {
  display: flex;
  margin: 0;
  .el-tabs__header {
    border-bottom: none;
    width: 236px;
    margin-bottom: 0;
    .el-tabs__active-bar {
      display: none;
    }
    .el-tabs__item {
      float: inherit;
      padding: 0 0 0 15px;
      font-size: 18px;
      color: #676767;
      background: #F7F7F7;
      border: 1px solid #F2F2F2;
      height: 64px;
      line-height: 64px;
      width: 100%;
      text-align: left;
      &:hover {
        color: $main;
      }
    }
    .el-tabs__item.is-active {
      background: #fff;
      color: $main;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 10px;
        background: $main;
      }
    } // @media (max-width:768px) {
    //   .el-tabs__item {
    //     font-size: 14px;
    //   }
    //   .is-active {
    //     &:before {
    //       content: '';
    //       display: none;
    //     }
    //   }
    // }
  }
  .el-tabs__content {
    flex: 1;
    padding: 0 15px;
  }
}

.head {
  font-size: 18px;
  color: #151515;
  margin: 0;
}

.myLink {
  position: relative;
  margin: 0;
  font-size: 18px;
  &:before {
    content: "\E602";
    font-family: 'element-icons' !important;
    position: absolute;
    right: 0;
    font-size: 16px;
    line-height: 1;
    top: 50%;
    margin-top: -9px;
  }
}


.borderCard {
  padding-left: 0 !important;
  padding-right: 0 !important;
  .el-card__header {
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #F2F2F2;
    &>div>i {
      float: right;
      color: #777777;
    }
    .headRight {
      float: right;
      display: inline-block;
      color: $brown;
      cursor: pointer;
      i {
        font-size: 14px;
      }
      span {
        margin-left: 5px;
      }
    }
  }
  .el-card__body {
    padding: 0 12px;
  }
}

.el-card__header {
  font-size: 18px;
}

.searchButton {
  font-size: 18px !important;
  width: 100%;
  height: 46px;
  color: #fff !important;
  background: $main !important;
  border-color: $main !important;
}

.commonCard {
  padding: 0 28px;
  .el-card__header {
    padding: 0;
    line-height: 70px;
    font-size: 18px;
    position: relative;
    border-bottom-color: #EAEAEA;
    span {
      vertical-align: middle;
    }
    .handleButton {
      font-size: 15px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      i {
        margin-right: 5px;
      }
    }
  }
  .el-card__body {
    padding: 10px 0;
  }
}

.myDialog {
  .el-dialog--large {
    display: table;
    width: 1200px;
    top: 0 !important;
    bottom: 0;
    margin: auto !important;
    left: 0;
    right: 0;
    transform: none;
    border-radius: 0;
  }
  .el-dialog__body {
    padding: 0;
    position: relative;
  }
  .el-dialog__header {
    padding: 13px 12px;
    border-bottom: 1px solid #F2F2F2;
    .el-dialog__title {
      color: #393939;
      font-size: 18px;
      font-weight: normal;
    }
    .el-dialog__close {
      color: #676767;
    }
  }
}

.myTable {
  border: none !important;
  &:after {
    width: 0 !important;
  }

  .el-table__header-wrapper {
    tr {
      background-color: $sub;
    }
    th {
      background-color: $sub;
      height: 26px;
      .cell {
        padding-left: 15px;
        padding-right: 0px;
      }
    }
  }
  .el-table__body-wrapper {
    td {
      // border: none;
      .cell {
        padding-left: 15px;
        padding-right: 0;
        line-height: 16px;
        word-break: break-word;
      }
    }
    tr:hover>td {
      background: #fff;
    }
    tr:nth-child(even) {
      td {
        background: #F7F7F7;
      }
    }
  }
}

.el-submenu {
  .el-menu {
    background: #fff;
  }
}

.homeTable {
  border: none !important;
  &:after {
    width: 0 !important;
  }

  .el-table__header-wrapper {
    th {
      height: 45px;
      background-color: #EBE5EF;
      border-bottom: none !important;
      .cell {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        color: #393939;
      }
    }
    th:not(:nth-last-child(2)) {
      border-right: 1px solid #CBCBCB;
    }
  }
  .el-table__body-wrapper {
    td {
      border-bottom: none;
      .cell {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 45px;
        word-break: break-word;
      }
    }
    td:not(:last-child) {
      border-right: 1px solid #CBCBCB;
    }
    tr:hover>td {
      background: #fff;
    }
    tr:nth-child(even) {
      td {
        background: #EBE5EF;
      }
    }
  }
}

// .doc_title {
//   font-size: 18px;
//   line-height: 40px;
//   ;
//   margin-top: -13px;
// }
.doc-section {
  border-bottom: 1px dashed #D5DADF;
  margin-bottom: 10px;
  .doc-form_title {
    position: relative;
    font-size: 18px;
    padding-bottom: 27px;
    line-height: 20px;
    color: $main;
    text-indent: 15px;
  }
  .doc-form_title:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 4px;
    height: 15px;
    background-color: $main;
  }
  .form-box {
    margin-bottom: 27px;
  }
  .form-box .el-col {
    height: 46px;
  } // .el-table {
  //   width: 100%;
  //   margin-bottom: 27px;
  //   .cell {
  //     display: block;
  //     text-align: center;
  //     padding: 4px 10px;
  //     word-wrap: break-word;
  //   }
  // }
}

.doc-form-submit_btn button {
  height: 46px;
  width: 200px;
  margin-left: 134px;
  font-size: 16px;
  border-radius: 3px;
  background-color: $main;
}

.doc-section:nth-last-child(2) {
  border-bottom: none;
}

.el-input {
  .el-icon-icon-jiantou {
    font-family: "iconfont" !important;
    font-size: 18px;
    &:before {
      content: "\e651";
    }
  }
}

.el-button {
  color: $sub;
  border-color: $sub;
  .el-icon-icon-heart {
    font-family: "iconfont" !important;
    &:before {
      content: "\e601";
    }
  }
  .el-icon-icon-message {
    font-family: "iconfont" !important;
    &:before {
      content: "\e607";
    }
  }
}

.el-button--primary {
  color: #fff;
}




.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: $main!important;
  border-color: $main!important;
  border: 1px solid $main!important;
}


.el-radio-button__inner:hover {
  color: $main!important;
}

.el-card {
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}

.el-menu {
  background: #fff;
}

.el-breadcrumb {
  // padding-top: 10px;
  line-height: 30px;
  .el-breadcrumb__item__inner {
    font-size: 14px;
    color: $main;
    .icon-home {
      font-size: 14px;
      color: $sub;
    }
  }
  .el-breadcrumb__separator,
  .el-breadcrumb__item:last-child .el-breadcrumb__item__inner,
  .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover,
  .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a,
  .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover {
    color: $main;
  }
}

.el-input {
  font-size: 16px;
}

.el-input__inner {
  height: 46px;
  border-radius: 0;
  border-color: #B7B7B7;
}

.el-button {
  border-radius: 0;
  font-size: 18px;
}

.el-input-group__prepend {
  background: #fff;
}

.el-table__header-wrapper thead div,
.el-table__footer-wrapper thead div {
  background-color: $sub;
  color: #fff;
}

.el-table {
  color: #393939;
  .el-table__header {
    th {
      background: $sub;
    }
  }
  .cell {
    font-size: 15px;
  }
  th>.cell {
    font-size: 13px;
  }
  .el-table__row {}
  th.is-leaf {
    border-bottom: none;
  }
  td {
    border-bottom: 1px solid #D5DADF;
  }
}

.el-loading-mask {
  z-index: 998;
}

.el-form-item {
  margin-bottom: 20px;
}

.el-form-item__label {
  padding: 16px 0 16px 10px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.clearBoth {
  clear: both
}

.el-textarea__inner {
  border-radius: 0;
  color: #393939;
  font-size: 16px;
  font-family: Arial;
}

.mySideLink {
  margin-bottom: 20px;
  .el-menu-item-group__title {
    line-height: 55px;
    padding: 0;
    border-bottom: 1px solid #F2F2F2;
    box-sizing: border-box;
    font-size: 18px;
    color: #151515;
  }
  .el-menu-item {
    overflow: hidden;
    font-size: 16px;
    border-bottom: 1px solid #F2F2F2;
    i {
      float: right;
      line-height: inherit;
      color: #777777;
    }
  }
}

.el-dialog {
  margin-bottom: 0;
}

.addButton {
  font-size: 21px;
  line-height: 48px;
  height: 48px;
  padding: 0;
  width: 48px;
  color: $main;
  border-color: $main;
  border-radius: 5px;
}

.myButton {
  border-radius: 3px;
  width: 180px;
}

.editForm {
  font-size: 15px;
  padding-top: 10px;
  .header {
    color: $main;
    margin-bottom: 25px;
    font-size: 18px;
    position: relative;
    padding-left: 15px;
    line-height: 26px;
    .title {
      margin-right: 14px;
    }
    &:before {
      content: '';
      position: absolute;
      height: 15px;
      width: 4px;
      background: $main;
      left: 0;
      top: 5px;
    }
    .el-button {
      font-size: 12px;
      border-radius: 5px;
      vertical-align: middle;
    }
  }
  .el-form-item {
    width: 50%;
    float: left;
    padding-right: 30px;
    &.pr70 {
      padding-right: 70px;
    }
  }
  .el-form-item__label {
    color: $main;
  }
  .el-form-item__content {
    // float: left;
    // margin-left: 90px;
    p {
      line-height: 45px;
    }
  }
  .el-select {
    width: 100%;
  }
  .borderBox {
    border-bottom: 1px solid #EAEAEA;
    padding-top: 8px;
    margin-bottom: 25px;
    clear: both;
  }
  .bgBorder {
    height: 10px;
    background: rgba(204, 204, 204, 0.32);
    margin-bottom: 25px;
  }
  .avatar-uploader {
    // border: 1px dashed #d9d9d9;
    // border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 105px;
  }
  .avatar-uploader .el-upload {
    height: 105px;
    width: 105px;
    text-align: left;
  }

  .avatar {
    max-height: 100%;
    max-width: 100%;
    display: block;
  }
  .submitButton {
    width: 160px;
    height: 45px;
    font-size: 16px;
  }
  .el-form-item__label {
    padding: 16px 12px 16px 0;
  }
  .el-radio-button__inner {
    padding: 15px 34px;
    height: 45px;
  }
}

.addbutton1 {
  height: 46px;
  float: right;
  width: 100%;
  position: relative;
  right: -5px;
}

.fixF5 {
  position: relative;
  left: -5px;
}

.el-input {
  &.hasUnit {
    input{
      padding-right:30px;
    }
    .el-input-group__append {
      border: none;
      position: absolute;
      top: 0;
      right: 10px;
      line-height: 46px;
      background: transparent;
      color: #393939;
      padding: 0;
      width: initial;
    }
  }
}
.appTable{
  .cell{
    padding-right:5px;
  }
  td{
    height:50px;
  }
}
.personDialog {
  .el-dialog--large {
    width: 1100px;
    top: 50%!important;
    margin-top: -315px;
    .el-dialog__header {
      display: none;
    }
    .el-dialog__body {
      padding: 0;
    }
  }
}